html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

p.light {
  color: #fff;
}


h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-align: center;
    height: 100%;
    color: #000;
  }

  h2.green{color: #00db00;}

  h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 70px;
      font-weight: bold;
      text-align: center;
      height: 100%;
      color: #fff;
    }

  h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      text-align: center;
      height: 100%;
      color: #000;
      padding-top: 12px;
      padding-bottom: 12px;
    }


    button.center {display: block; margin: 0 auto;}
    button.green {background-color: #00db00; color: #fff;}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('images/background.jpg');
    min-height: 75%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('images/ciderbckgrnd.jpg');
    min-height: 30%;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('images/aboutbckgrnd.jpg');
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
